<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./static/css/styles.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITWD6.408: Assignment 2</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!--  jQuery UI library-->
    <link href = "https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel = "stylesheet">
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/faqs.json"></script>
</head>
<body>
    <header>
        <div class="title-area">Phone Repair Booking System</div>
        <div class="menu-area">
            <div class="menu-btn" onclick="window.location = '/'">Home</div>
            <div class="menu-btn" onclick="window.location = '/extension'">Extension</div>
        </div>
    </header>
    <main>
        <div class="form-layout">
            <div class="customerDetails">
                <div class="inner-title">Customer Details</div>
                <form name="customerForm" action="" method="">
                    <!--Section: Customer Details -->
                    <section>
                        <fieldset>
                            <legend>Customer Type:*</legend>
                                <input type = "radio"
                                 name = "customer"
                                 id = "Customer"
                                 value = "customer"
                                 checked = "checked"
                                 onclick="document.getElementById('Business').checked = false;"/>
                                <label for = "Customer">Customer</label>
                                <br>
                                <input type = "radio"
                                 name = "business"
                                 id = "Business"
                                 value = "business"
                                 onclick="document.getElementById('Customer').checked = false;"/>
                                <label for = "Business">Business</label>
                        </fieldset>
                        <label for="title">Title:*</label>
                        <select id = "title">
                        <option value = "Mr">Mr</option>
                        <option value = "Mrs">Mrs</option>
                        <option value = "Ms">Ms</option>
                        <option value = "Miss">Miss</option>
                        <option value = "Dr">Dr</option>
                        </select>
                        <button style="display: none">X</button>
                        <br>
                        <label for="Firstname">First name:*</label><input type="text" id="Firstname" name="firstname">
                        <br>
                        <label for="Lastname">Last name:*</label><input type="text" id="Lastname" name="lastname">
                        <br>
                        <label for="Lastname">Search address:</label>
                        <div id="locationField">
                        <input id="autocomplete"
                         placeholder="Enter your address"
                         onFocus="geolocate()"
                         type="text"/>
                        </div>
                        <label for="street_number">Number:*</label><input type="text" id="street_number" name="street_number">
                        <br>
                        <label for="route">Street:*</label><input type="text" id="route" name="street">
                        <br>
                        <label>City:*</label><input type="text" id="locality" name="city">
                        <br>
                        <label>State:</label><input type="text" id="administrative_area_level_1" name="state">
                        <br>
                        <label>Post Code:</label><input type="text" id="postal_code" name="postcode">
                        <br>
                        <label>Country:</label><input type="text" id="country" name="country">
                        <br>
                        <label>Phone Number:*</label><input type="text" id="Phonenumber" name="phonenumber">
                        <br>
                        <label>Email:*</label><input type="email" id="Email" name="email">
                    </section>
                </form>
            </div>
            <div class="repairDetails">
                <div class="inner-title">Repair Details</div>
                <!--Put all inputs in a form-->
                <form name="repairForm" action="" method="">
                    <!--Section: Customer Details -->
                    <section>
                        <label>Purchase date:*</label><input type="text" id="Purchasedate" name="purchasedate">
                        <br>
                        <label>Repair date:*</label><input type="text" id="Repairdate" name="repairdate">
                        <br><br>
                        <fieldset>
                            <legend>Under warranty</legend>
                            <label for="Warranty">Warranty:</label><input id="Warranty" type="checkbox" name="Warranty" value="warranty">
                        </fieldset>
                        <label>IMEI Number:*</label><input type="text" id="IMEInumber" name="imeinumber">
                        <br>
                        <section>
                            <label for="Make">Make:*</label>
                            <select id = "Make">
                            <option value = "Apple">Apple</option>
                            <option value = "LG">LG</option>
                            <option value = "Motorola">Motorola</option>
                            <option value = "Nokia">Nokia</option>
                            <option value = "Samsung">Samsung</option>
                            <option value = "Sony">Sony</option>
                            <option value = "Other">Other</option>
                            </select>
                        </section>
                        <label>Model number:</label><input type="text" id="Modelnumber" name="modelnumber">
                        <br>
                        <section>
                            <label for="Faultcategory">Fault category:*</label>
                            <select id = "Faultcategory">
                            <option value = "Battery">Battery</option>
                            <option value = "Charging">Charging</option>
                            <option value = "Screen">Screen</option>
                            <option value = "SD-storage">SD-storage</option>
                            <option value = "SSD-storage ">SSD-storage </option>
                            <option value = "Other">Other</option>
                            </select>
                        </section>
                        <label for="Description">Description:*</label><textarea id="Description"></textarea>
                        <br>
                    </section>
                </form>
            </div>
            <div class="courtesyPhone">
                <div class="inner-title">Courtesy Phone</div>
                <section>
                    <label for="Phonelist">Item type:</label>
                    <select id = "Phonelist">
                        <option value = "iPhone">iPhone</option>
                        <option value = "Other phone">Other phone</option>
                    </select>
                </section>
                <button onclick="addCourtesyphone()">Add</button>
                <button onclick="removeChildren()">Remove</button>
                <table id="Courtesyphonetable">
                </table>
                <br>
            </div>
            <div class="costSection">
                <div class="inner-title">Cost Section</div>
                <section>
                    <label for="Bond">Bond:</label><input type="text" id="Bond" name="bond" disabled>
                    <br>
                    <label for="Servicefee">Service fee:</label><input type="text" id="Servicefee" name="servicefee" disabled>
                    <br>
                    <label for="Total">Total:</label><input type="text" id="Total" name="total" disabled>
                    <br>
                    <label for="GST">GST:</label><input type="text" id="GST" name="gst" disabled>
                    <br>
                    <label for="TotalplusGST">Total(+GST):</label><input type="text" id="TotalplusGST" name="total+gst" disabled>
                </section>
            </div>
            <div class="buttonSection">
                <div class="inner-title">Button Section</div>
                <!--Section: Buttons section-->
                <section>
                    <button onclick="formSubmit()">Submit</button>
                    <button onclick="resetForms()">Reset</button>
                    <button id="faq" onclick="showFaqs()">FAQ</button>
                </section>
            </div>
        </div>
    </main>
</body>
<script>
    // This sample uses the Autocomplete widget to help the user select a
    // place, then it retrieves the address components associated with that
    // place, and then it populates the form fields with those details.
    // This sample requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script

    var placeSearch, autocomplete;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), {types: ['geocode']});

        // Avoid paying for data that you don't need by restricting the set of
        // place fields that are returned to just the address components.
        autocomplete.setFields(['address_component']);

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    {center: geolocation, radius: position.coords.accuracy});
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE&libraries=places&callback=initAutocomplete"
        async defer></script>
<script src="./static/js/main.js">
</script>
<footer>
    Advanced Web Design Copyright 2019
</footer>
</html>
